<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="OxyPlot.Core" version="1.0.0-unstable2100" targetFramework="net45" />
  <package id="OxyPlot.WindowsForms" version="1.0.0-unstable2100" targetFramework="net45" />
  <package id="Plugin.Share" version="4.0.2" targetFramework="net45" />
</packages>